### IntelliJ IDEA ###
.idea

workspace/.idea/workspace.xml
workspace/.idea/modules.xml
workspace/.idea/misc.xml
workspace/.idea/encodings.xml
workspace/.idea/compiler.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
*.class
*.class
*.class
