<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.univer.account.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="com.univer.account.po.Dict">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dict_id" jdbcType="BIGINT" property="dictId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="findMapByType" resultType="com.univer.account.vo.DictVo" parameterType="String">
    select name,value
    from dict
    where 1=1
      <if test="type != null">
       and type  = #{type}
      </if>
  </select>

</mapper>